ion-icon{
    margin: 0 !important;
    font-size: 16px !important;
    padding-right: 10px !important;
    color: #c73130bf !important;
}
i{
    margin: 0 !important;
    font-size: 16px !important;
    padding-right: 10px !important;
    color: #c73130bf !important;
}

.nomargin{
    margin:0px !important;
}

ion-avatar{width: 60px; height: 60px;}
.job-title{font-size: 18px; font-weight: 600;}
.icon-small-size{font-size: 17px;}