<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="2" class="ion-text-center">
        <ion-buttons>
          <ion-back-button></ion-back-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="8" class="ion-text-center" style="color:white">
        <ion-title>Select Template</ion-title>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #testSlider pager="true">
    <ion-slide *ngFor="let t of lists.defaulttemplates;let i=index;">
      <div id={{i}} class="background" #screen
        [style.background]="('url('+common.Url+'Files/'+t.backgroundimageurl+')')|santize:'css'">
        <div [className]="t.templateclass?t.templateclass:'forground'" [style.background]="t.shapcolor">
          <div *ngIf="t.templateclass=='sparallelogram'" class="text-sparallelogram" style="text-align:center">
            <p *ngFor="let c of t.textsetting"
              [ngStyle]="{'font-size':c.fontsize+'px','color':c.fontcolor,'font-family':c.fonttype}">
              <span *ngIf="c.status&&c.typeid==1">{{templatedata.title}}</span>
              <span *ngIf="c.status&&c.typeid==4">{{templatedata.description}}</span>

            </p>
          </div>
          <div *ngIf="t.templateclass=='scircle'" class="scircletext" style="text-align:center">
            <p *ngFor="let c of t.textsetting"
              [ngStyle]="{'font-size':c.fontsize+'px','color':c.fontcolor,'font-family':c.fonttype}">
              <span *ngIf="c.status&&c.typeid==1">{{templatedata.title}}</span>
              <span *ngIf="c.status&&c.typeid==4">{{templatedata.description}}</span>
            </p>
          </div>
          <div *ngIf="t.templateclass=='shalfcircle'" class="shalftext" style="text-align:center">
            <p *ngFor="let c of t.textsetting"
              [ngStyle]="{'font-size':c.fontsize+'px','color':c.fontcolor,'font-family':c.fonttype}">
              <span *ngIf="c.status&&c.typeid==1">{{templatedata.title}}</span>
              <span *ngIf="c.status&&c.typeid==4">{{templatedata.description}}</span>
            </p>
          </div>
        </div>
        <p class="myAddress">
          <ion-icon name="pin"></ion-icon>{{('Businessinfo'|user)['name']}} |
          {{('Businessaddressinfo'|user)['address']}},
          {{('Businessaddressinfo'|user)['cityname']}}, {{('Businessaddressinfo'|user)['statename']}} |
          {{('Businessinfo'|user)['mobileno']}}
        </p>
      </div>

    </ion-slide>
  </ion-slides>
  <ion-row>
    <!-- <ion-col size="6" text-center>
      <ion-button (click)="common.PageGoto('Forward', 'festivalnvishes', {});">Back</ion-button>
    </ion-col> -->
    <ion-col size="12" text-center>
      <ion-button (click)="exportImage()">Select Template</ion-button>
    </ion-col>
  </ion-row>
</ion-content>