<ion-header>
    <ion-toolbar color="primary">
        <ion-row>
            <ion-col size="2" class="ion-text-center">
                <ion-buttons>
                    <ion-back-button></ion-back-button>
                </ion-buttons>
            </ion-col>
            <ion-col size="8" class="ion-text-center">
                <ion-title>{{'Thank You SMS'|language}}</ion-title>
            </ion-col>
            <ion-col size="2" class="ion-text-center">
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row>

        <ion-col size="12">
            <ion-searchbar placeholder="Select Customer" margin-bottom class="input-border no-shadow mb-0">
            </ion-searchbar>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" class="input-border pt-2 pb-2">
            <ion-label class="ion-text-uppercase pl-1 pb-1 d-block">9 March 2020</ion-label>
                <ion-item lines=none>
                    <div>Gobind</div>
                    <ion-checkbox color="primary" checked slot="start" class="btn-tb-margin-5"></ion-checkbox>
                    <div slot="end">+91 12345 67890</div>
                </ion-item>
                
                <ion-item lines=none>
                    <div>Gobind</div>
                    <ion-checkbox color="primary" checked slot="start" class="btn-tb-margin-5"></ion-checkbox>
                    <div slot="end">+91 12345 67890</div>
                </ion-item>

                <ion-item lines=none>
                    <div>Gobind</div>
                    <ion-checkbox color="primary" checked slot="start" class="btn-tb-margin-5"></ion-checkbox>
                    <div slot="end">+91 12345 67890</div>
                </ion-item>
        </ion-col>

        
        <ion-col size="12" class="input-border pt-2 pb-2">
            <ion-label class="ion-text-uppercase pl-1 pb-1 d-block">9 March 2020</ion-label>
                <ion-item lines=none>
                    <div>Gobind</div>
                    <ion-checkbox color="primary" checked slot="start" class="btn-tb-margin-5"></ion-checkbox>
                    <div slot="end">+91 12345 67890</div>
                </ion-item>
        </ion-col>


        <ion-col size="12" class="input-border pt-2 pb-2">
            <ion-label class="ion-text-uppercase pl-1 pb-1 d-block">9 March 2020</ion-label>
                <ion-item lines=none>
                    <div>Gobind</div>
                    <ion-checkbox color="primary" checked slot="start" class="btn-tb-margin-5"></ion-checkbox>
                    <div slot="end">+91 12345 67890</div>
                </ion-item>
                
                <ion-item lines=none>
                    <div>Gobind</div>
                    <ion-checkbox color="primary" checked slot="start" class="btn-tb-margin-5"></ion-checkbox>
                    <div slot="end">+91 12345 67890</div>
                </ion-item>
        </ion-col>
       
        <ion-col size="12" text-center style="display: block;" class="mt-1">
            <ion-button shape="round">{{'Next'|language}}</ion-button>
        </ion-col>
    </ion-row>
</ion-content>