<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Offer Review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="ion-text-center mt-2 mb-2">{{'BELOW ARE THE JOB DETAILS'|language}}</h3>
  <ion-list class="transparent-bg">
    <ion-item lines="none" class="input-border">
      <p class="small-font">
        <span>{{'TITLE'|language}}</span>
        <span class="end">{{lists.title}}</span>
      </p>
    </ion-item>
    <ion-item lines="none" class="input-border">
      <p class="small-font">
        <span class="small-font">{{'Coupon Code'|language}}</span>
        <span class="end">{{lists.couponcode}}</span>
      </p>
    </ion-item>
    <ion-item lines="none" class="input-border">
      <p class="small-font">
        <span>{{'Discount'|language}}</span>
        <span class="end"> {{lists.discount}}{{lists.discounttype=='Amount'?'INR':'%'}}</span>
      </p>
    </ion-item>
    <ion-item>
      <p class="small-font">
        <span>{{'Start Date'|language}}</span>
        <span class="end">{{lists.startdate}}</span>
      </p>
    </ion-item>
    <ion-item lines="none" class="input-border">
      <p class="small-font">
        <span>{{'End Date'|language}}</span>
        <span class="end">{{lists.enddate}}</span>
      </p>
    </ion-item>
    <ion-item lines="none" class="input-border">
      <p class="small-font">
        <span>{{'Description'|language}}</span>
        <span class="end">{{lists.description}}</span>
      </p>
    </ion-item>
    <ion-item class="back_offer input-border" [style.background]="('url('+common.Url+'Files/'+BackgroundImagePath+')')|santize:'css'" lines="none">
      <ion-img [src]="common.Url+'Files/'+lists.imageurl"></ion-img>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-button (click)="CreateCoupon()" shape="round" class="mc">{{'Save Coupon'|language}}</ion-button>
    </ion-col>
  </ion-row>
</ion-content>