<ion-content>
    <h3 text-center>{{'Customer Contacts'|language}}
    </h3>
    <ion-card>
        <ion-card-content>
            <ion-row>
                <ion-col size="9">
                    <ion-label>Joe Belfoire</ion-label>
                    <p>+91 36982 12345</p>
                </ion-col>
                <ion-col size="3">
                    <ion-checkbox checked="true"></ion-checkbox>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <div>
        <ion-button shape="round">{{'Notify'|language}}
        </ion-button>
        <ion-button shape="round">{{'Cancel'|language}}
        </ion-button>
    </div>
</ion-content>