img {
    width: 45% !important;
}

.frow {
    margin-top: 20px !important;
}

ion-title {
    color: white !important;
}

.hsubheader {
    max-width: 120px;
    margin: 5px auto 8px;
    font-weight: 600;
    font-size: 15px;
}

.icon-box {
    margin: 15px auto;
}