.hsubheader {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin: 4px 0;
    line-height: 17px;
}

.header {
    text-align: center !important;
    text-transform: uppercase !important;
    margin: 18px 0 7px !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}



.download_icon{
    font-size: 22px;
    color: #c73130;
    position: absolute;
    right: 5px;
    top: 5px;
}

.view_icon{
    font-size: 22px;
    color: #c73130;
    position: absolute;
    right: 5px;
    top: 32px;
}

.Section_CSS{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-bottom:10px;
    padding:0;
}

ion-img {
    margin-bottom: -2px;
}