<ion-header>
    <ion-toolbar>
        <ion-title>premium</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-row>
            <ion-col size="12">

            </ion-col>
            <ion-col size="12">

            </ion-col>

            <ion-col size="12">
                <ion-list>
                    <ion-item>
                        <ion-label>Make Offer & Deals</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Find Staff for Salon</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Create & Send Festivals Wishes</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Manage Staff Attendance</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Manage Staff Salary</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>And Much More..</ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>

            <ion-col size="12">
                <ion-button color="primary" shape="round">Get Premium Subscription</ion-button>
            </ion-col>

        </ion-row>
    </ion-card>

</ion-content>