<ion-header>
    <ion-toolbar color="primary">
        <ion-row>
            <ion-col size="2" class="ion-text-center">
                <ion-buttons>
                    <ion-back-button></ion-back-button>
                </ion-buttons>
            </ion-col>
            <ion-col size="8" class="ion-text-center" style="color:white">
                <ion-title>{{'Offers / Deals'|language}}</ion-title>
            </ion-col>
            <ion-col size="2" class="ion-text-center">
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>


<ion-content padding>

    <!-- <ion-col *ngIf="('usertype'|user)=='2'||('usertype'|user)=='6'">
        <ion-row>
            <ion-col size="6">
                <ion-fab-button class="mc" (click)="AddCoupon()" color="primary">
                    <ion-icon name="add"></ion-icon>Offers
                </ion-fab-button>
            </ion-col>
            <ion-col size="6">
                <ion-fab-button class="mc" (click)="AddCoupon()" color="primary">
                    <ion-icon name="add"></ion-icon>Deals
                </ion-fab-button>
            </ion-col>
        </ion-row>
    </ion-col> -->

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>


        <ion-fab-list (click)="AddCoupon('Deals')" side="top" color="primary">
            <ion-fab-button class="sub_btns"><span class="side_btns">{{'Create Deals'|language}}</span></ion-fab-button>
        </ion-fab-list>
        <ion-fab-list (click)="AddCoupon('Offers')" side="start" color="primary">
            <ion-fab-button class="sub_btns"><span class="side_btns">{{'Create Offers'|language}}</span></ion-fab-button>
        </ion-fab-list>



    </ion-fab>

    <!-- <ion-fab (click)="AddCoupon('Deals')" class="add_btns bottom_up"  vertical="bottom" *ngIf="('usertype'|user)=='2'||('usertype'|user)=='6'"
        horizontal="end" slot="fixed">
        <ion-fab-button size="small">
            <span>+</span> Deals
        </ion-fab-button>
    </ion-fab>

    <ion-fab (click)="AddCoupon('Offers')" class="add_btns " vertical="bottom" *ngIf="('usertype'|user)=='2'||('usertype'|user)=='6'" horizontal="end" slot="fixed">
        <ion-fab-button size="small">
            <span>+</span> Offers
        </ion-fab-button>
    </ion-fab> -->

    <ion-row>
        <ion-col (click)="OpenCoupon(o)" id="myCanvas_{{i}}" class="Section_CSS" size="12" *ngFor="let o of lists.Myoffers;let i=index;" [style.background]="('url('+common.Url+'Files/'+o.backgroundImage+')')|santize:'css'">
            <!-- <i class="fa fa-window-maximize view_icon" aria-hidden="true"></i> -->
            <ion-img [src]="common.Url+'Files/'+o.imageurl"></ion-img>
        </ion-col>
    </ion-row>


</ion-content>