// .download_icon{
//     font-size: 22px;
//     color: #c73130;
//     position: absolute;
//     right: 5px;
//     top: 5px;
// }

.view_icon{
    font-size: 22px;
    color: #c73130;
    position: absolute;
    right: 5px;
    top: 10px;
}

.Section_CSS{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-bottom:10px;
    padding:0;
}
