<ion-header>
    <ion-toolbar color="primary">
        <ion-row>
            <ion-col size="2" class="ion-text-center">
                <ion-buttons>
                    <ion-back-button></ion-back-button>
                </ion-buttons>
            </ion-col>
            <ion-col size="8" class="ion-text-center">
                <ion-title>{{'Manage Employee'|language}}</ion-title>
            </ion-col>
            <ion-col size="2" class="ion-text-center">
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="frow input-border">
        <ion-col size="6" text-center (click)="GotoPage('employeelist')" class="icon-box">
            <img src="./assets/icon/employeelist.png" />
            <P class="hsubheader">{{'Employee List'|language}}</P>
        </ion-col>
        <ion-col size="6" text-center class="icon-box"
            (click)="common.PageGoto('Forward','stylistregister',{edit:true})">
            <img src="./assets/icon/addnewemployee.png" />
            <P class="hsubheader">{{'Add New Employee'|language}}</P>
        </ion-col>
    </ion-row>
    <ion-row class="input-border">
        <ion-col size="6" text-center class="icon-box" (click)="common.presentToast('Feature Coming Soon',4000)">
            <img src="./assets/icon/attendancemangment.png" />
            <P class="hsubheader">{{'Attendance Management'|language}}</P>
        </ion-col>
        <ion-col size="6" text-center class="icon-box" (click)="common.presentToast('Feature Coming Soon',4000)">
            <img src="./assets/icon/salarymanagment.png" />
            <P class="hsubheader">{{'Salary Management'|language}}</P>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="6" text-center class="icon-box" (click)="GotoPage('pastemployee')">
            <img src="./assets/icon/pastemployee.png" />
            <P class="hsubheader">{{'Past Employee'|language}}</P>
        </ion-col>
        <ion-col size="6" text-center class="icon-box" (click)="GotoPage('findcandidate')">
            <img src="./assets/icon/findcandidiate.png" />
            <P class="hsubheader">{{'Find Candidate'|language}}</P>
        </ion-col>
    </ion-row>
</ion-content>