<ion-header>
    <ion-toolbar color="primary">
        <ion-row>
            <ion-col size="2" class="ion-text-center">
                <ion-buttons>
                    <ion-back-button></ion-back-button>
                </ion-buttons>
            </ion-col>
            <ion-col size="8" class="ion-text-center">
                <ion-title>{{'My Employer'|language}}
                </ion-title>
            </ion-col>
            <ion-col size="2" class="ion-text-center">
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-row class="griddata image-slider">

        <ion-col size="12">
            <ion-slides class="bottomslide" autoplay="400" loop="true" speed="100">
                <ion-slide>
                    <ion-card class="slidecard">
                        <!--<p>text title</p>
                        <span>Data:012</span>-->
                        <img src="./assets/img/app/slider-1.jpg" />
                    </ion-card>
                </ion-slide>
            </ion-slides>
        </ion-col>

    </ion-row>






    <ion-row class="frow input-border" *ngIf="UserType!= '1' ">
        <ion-col size="6" text-center class="icon-box" (click)="common.presentToast('Feature Coming Soon',4000)">
            <img src="./assets/icon/attendance.png" />
            <div class="hsubheader">{{'Attendance'|language}}
            </div>
        </ion-col>
        <ion-col size="6" text-center class="icon-box" (click)="common.PageGoto('Forward','report',{Page:'MyWork'})">
            <img src="./assets/icon/my-work.png" />
            <P class="hsubheader">{{'My Work'|language}}
            </P>
        </ion-col>
    </ion-row>


    <ion-row>
        <ion-col *ngIf="UserType!= '1' " size="6" text-center class="icon-box" (click)="common.PageGoto('Forward','appointments/confirm',{Page:'MyWork'})">
            <img src="./assets/icon/my-experience.png" />
            <P class="hsubheader">{{'My Work Experience'|language}}
            </P>
        </ion-col>
        <ion-col size="6" text-center class="icon-box" (click)="common.PageGoto('Forward','businessprofile')">
            <img src="./assets/icon/employer-profile.png" />
            <P class="hsubheader">{{'Employer Profile'|language}}
            </P>
        </ion-col>
    </ion-row>


</ion-content>