<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end" style="margin-top: -18px;">
            <ion-button (click)="close()">
                <ion-icon class="iconsclose" name="close-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content style="--background: white !important;">
    <h5 text-center>{{lists.customer_name}}</h5>
    <p text-center class="number small-font"> <span>+91 - {{lists.contactno}}</span></p>
    <ion-row style="margin-top: 5%;">
        <ion-col size="12">
            <ion-item class="input-border" lines="none">
                <ion-textarea class="ion-text-center" placeholder="Enter Your Message" rows="3"
                    [(ngModel)]="lists.message"></ion-textarea>
            </ion-item>
        </ion-col>
        <ion-col size="12" text-center>
            <ion-button shape="round" style="padding-right: 16px;" (click)="close()">{{'Back'|language}}
            </ion-button>
            <ion-button shape="round" (click)="SendSms()">
                {{'Send'|language}}
            </ion-button>
        </ion-col>
    </ion-row>
</ion-content>